<table class="expenses-info">
    <thead>
        <tr>
            <th colspan="2">Expenses</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>Total Amount:</td>
            <td>{{info.amountTot}} BGN</td>
        </tr>

        <tr>
            <td>Total Merches</td>
            <td>{{info.merchantTot}}</td>
        </tr>
    </tbody>
</table>

<div class="current-amount">
    <p>Available amount: <span>{{info.anountRest}} BGN</span></p>
</div>